<h1>Fornecedores</h1>

<%= simple_form_for (@provider) do |f| %>
  <%= f.input :type %>
  <%= f.input :cpf %>
  <%= f.input :cnpj %>
  <%= f.input :cep %>
  <%= f.input :publicplace %>
  <%= f.input :complement %>
  <%= f.input :district %>
  <%= f.input :location %>
  <%= f.input :phew %>
  <%= f.button :submit %>
<% end %>
