<h1>Cadastro de Produtos</h1>

<%= simple_form_for (@product) do |f| %>
  <div class="col-md-6">
  <%= f.input :name, label: "Nome" %>
  <%= f.input :productgenre, label: "Tipo de produto", collection:["Eletrônico", "Informática", "Alimentício", "Eletrodoméstico"] %>
  <%= f.association :provider %>
  </div><br>
  <%=f.submit 'Salvar', class:"btn btn-primary"%>
  <%=link_to "Cancelar", products_path, class:'btn btn-primary'%>
<% end %>